# IndexHeader {
    color:rgb(179, 207, 152);
    background-color:rgb(59, 94, 64);
    font-size: 80px;
}

# table1 {
    position: center;
    color:darkslateblue;
    font-family: Verdana;
}

h4 {
    position: center;
    
}
